<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carigi Bot</title>
    <link href="{{ url_for('static', filename='/dist/output.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script> 
    <script> 
        $(document).ready(function(event) { 
            // Tidak bisa submit by enter
            $('#userForm').submit(function(event) {
                event.preventDefault();
                return false; 
            });

            // Deklarasi variabel
            const chatContainer = $("#chat-container");
            const nama = $("#name");
            const umur = $("#umur");
            const kelamin = $("#kelamin");

            // close dan open chat toggle
            const openChatButton = $("#open-chat");
            const closeChatButton = $("#close-chat");
            let isChatboxOpen = true; 

            let responseCount = 0
            let openChat = false
            let userInfo
            function toggleChatbox(event) {
                event.preventDefault(); 
                if (nama.val().trim() !== "" && umur.val().trim() !== "" && kelamin.val() !== "pilih") {
                    chatContainer.toggleClass("hidden");
                    isChatboxOpen = !isChatboxOpen; // Toggle the state
                    userInfo = "Nama saya adalah " + nama.val().trim() + ", Saya berumur " + umur.val().trim() + " Tahun, dan Saya berjenis kelamin " + (kelamin.val() === "L" ? "Laki-laki" : "Perempuan");
                    // console.log(userInfo)
                }
            }

            openChatButton.click(function(event){
                toggleChatbox(event)
                if(!openChat){
                    openChat = true
                    $.ajax({
                        url: '/intro',
                        type: 'POST',
                        data: {userInfo: userInfo},
                        dataType: 'json',
                        success: function(data) {
                            console.log(data.data);
                            // Handle the summary data as needed
                        },
                        error: function(error) {
                            console.error('Error summarizing:', error);
                        }
                    });
                }
            });

            closeChatButton.click(function(event){
                toggleChatbox(event)
                if(responseCount!==0){
                    $.ajax({
                        url: '/summarize',
                        type: 'POST',
                        data:{
                            nama: nama.val(),
                            umur: umur.val(),
                            jenis_kelamin: kelamin.val()
                        },
                        dataType: 'json',
                        success: function(data) {
                            console.log(data);
                            // Handle the summary data as needed
                        },
                        error: function(error) {
                            console.error('Error summarizing:', error);
                        }
                    });
                }
            });

            // Menghindari submit ketika menekan shift
            $('#user-input').keypress(function(event) { 
                if (event.keyCode === 13 && !event.shiftKey) { 
                    event.preventDefault(); 
                    $('#send-button').click();
                } 
            });

            // Mengirimkan prompt ke model
            $('#send-button').click(function (event) {
                event.preventDefault(); 
                var csrftoken = Cookies.get('csrftoken');

                $.ajaxSetup({
                    headers: { 'X-CSRFToken': csrftoken }
                });

                var prompt = $('#user-input').val().trim();

                if (prompt.trim() !== "") {
                    // \n to break
                    var formattedPrompt = prompt.replace(/\n/g, '<br>');
                    

                    // User response
                    $('#prompt').append('<div class="mb-2 text-right"><p class="bg-main text-sm text-white rounded-lg py-2 px-4 inline-block">' + prompt + '</p></div>');
                    $('#user-input').val('');

                    responseCount++

                    // Scroll kebawah chatarea
                    var promptHeight = $('#prompt')
                    promptHeight.scrollTop(promptHeight.prop("scrollHeight"));

                    // Bot Response
                    $.ajax({
                        url: '/',
                        type: 'POST',
                        data: { prompt: prompt },
                        dataType: 'json',
                        success: function (data) {
                            // \n to break
                            var formattedResponse = data.response.replace(/\n/g, '<br>');

                            // bubble chat bot
                            $('#prompt').append('<div class="mb-2"><p class="bg-gray-200 text-sm text-gray-700 rounded-lg py-2 px-4 inline-block">' + formattedResponse + '</p></div>');

                            // Scroll kebawah chat area
                            var promptHeight = $('#prompt')
                            promptHeight.scrollTop(promptHeight.prop("scrollHeight"));
                        }
                    });
                }
            });
        });
    </script> 
</head>
<body>
    <div class="max-w-lg mx-auto p-8 lg:py-16">
        <form id="userForm">
            <div class="mb-6">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nama</label>
                <input type="text" id="name" name="name" class="bg-gray-50 border border-main text-gray-900 text-sm rounded-lg block w-full p-2.5" required>
            </div>
            <div class="mb-6">
                <label for="umur" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Umur</label>
                <input type="number" id="umur" name="umur" class="bg-gray-50 border border-main text-gray-900 text-sm rounded-lg block w-full p-2.5" required>
            </div>
            <div class="mb-10">
                <label for="kelamin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Jenis Kelamin</label>
                <select id="kelamin" name="kelamin" class="bg-gray-50 border border-main text-gray-900 text-sm rounded-lg block w-full p-2.5">
                    <option value="pilih">pilih</option>
                    <option value="L">laki-laki</option>
                    <option value="P">perempuan</option>
                </select>
            </div>
            <div class="flex flex-wrap items-center justify-center">
                <div class="mb-4 mr-4 flex flex-col items-center gap-2">
                    <button type="button" id="open-chat" class="bg-main text-white py-2 px-4 rounded-md hover:bg-teal-400 transition duration-300 flex items-center">
                        Konsultasi Kecerdasan Buatan
                    </button>
                    <p class="text-center">atau</p>
                    <button type="submit" id="appointment" class="bg-main text-white py-2 px-4 rounded-md hover:bg-teal-400 transition duration-300 flex items-center">lanjutkan appointment</button>
                </div>
                <div id="chat-container" class="hidden -mt-96 lg:-mt-24 lg:fixed w-96 px-2">
                    <div class="bg-white shadow-md rounded-lg max-w-lg w-full">
                        <div class="p-4 border-b bg-main text-white rounded-t-lg flex justify-between items-center">
                            <p class="text-lg font-semibold">Carigi Bot</p>
                            <button id="close-chat" class="text-white hover:text-gray-100 focus:outline-none focus:text-gray-q00">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                        <div id="prompt" class="p-4 h-80 overflow-y-auto">
                            <!-- Chat messages will be displayed here -->
                            <div class="mb-2 text-right">
                                <!-- <p class="bg-main text-white rounded-lg py-2 px-4 inline-block">hello</p> -->
                            </div>
                            <div class="mb-2">
                                <p class="bg-gray-200 text-gray-700 text-sm rounded-lg py-2 px-4 inline-block">{{ introduction }}.</p>
                            </div>
                        </div>
                        <form action="" method="post" class="p-4 border-t flex flex-nowrap mx-auto">
                            <input id="user-input" type="text" placeholder="Type a message" class="w-3/4 px-3 py-2 border rounded-l-md focus:outline-none focus:ring-2 focus:ring-main" name="prompt" autocomplete="off">
                            <button id="send-button" type="submit" class="w-1/5 bg-main text-white px-4 py-2 rounded-r-md hover:bg-teal-400 transition duration-300">Send</button>
                        </form>                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>